.container1 {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: first baseline;
}

.box {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
}

button {
  padding: 10px 10px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  border: 2px solid black;
}

.containera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}